.distance-wrapper {
    width: 70%;
    max-width: 550px;
    background-color: silver;
    margin: auto;
    height: 350px;
    min-width: 400px;
}

.result {
    background-color: white;
    width: 80%;
    margin: auto;
    font-size: 18px;
    margin-top: 50px;
    text-align: left;
}
.result div {
    margin-top: 15px;
}